# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
judicia-client/node_modules
judicia-client/.pnp
judicia-client/.pnp.*
judicia-client/.yarn/*
judicia-client/.yarn/patches
judicia-client/.yarn/plugins
judicia-client/.yarn/releases
judicia-client/.yarn/versions

# testing
judicia-client/coverage

# next.js
judicia-client/.next/
judicia-client/out/

# production
judicia-client/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# vscode settings
.vscode

